.body {
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    width: 480px;
    height: 640px;
    padding: 5px;

}

.i {
    
}

.card {
    width: 110px;
    height: 150px;
    position: relative;
    margin: 5px;
    
}

.front, .back {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.front {
    transform: rotateY(180deg);
    position: absolute;
    top: 0px;
    left: 0px;
}

.back {
    background-color: gray;
}

.card:hover .back {
    transform: rotateY(180deg);
}

.card:hover .front {
    transform: rotateY(0deg)
}

.card .front, .card .back {
    transition: all 0.5s;
    backface-visibility: hidden;
}